*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #54483a;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.btn {
  padding: 1.8rem 3rem;
  background-color: #c69963;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #b28451; }

.mb-small {
  margin-bottom: 2rem; }

.mb-medium {
  margin-bottom: 3rem; }

.mb-large {
  margin-bottom: 4rem; }

.mb-huge {
  margin-bottom: 8rem; }

.cta {
  background: #c69963;
  border: none;
  outline: none;
  padding: 1.5rem 3rem;
  color: white;
  text-transform: uppercase; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  font-style: bold;
  color: #f9f7f6;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  color: #c69963;
  font-size: 1.6rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }
  .sidebar__bar {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 2px;
    background: white;
    position: relative;
    top: 4rem; }
    .sidebar__bar::before {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background: white;
      position: absolute;
      top: -1rem; }
    .sidebar__bar::after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background: white;
      position: absolute;
      top: 1rem; }

.header {
  grid-column: full-start / col-end 6;
  padding: 8rem;
  padding-top: 4rem;
  background-image: linear-gradient(rgba(16, 29, 44, 0.6), rgba(16, 29, 44, 0.99)), url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-template-columns: max-content;
  justify-content: center;
  grid-row-gap: 1.5rem; }
  .header__logo {
    height: 3rem;
    justify-self: center; }
  .header__button {
    justify-self: start;
    align-self: start; }
  .header__text {
    font-size: 1.6rem;
    color: #aaa;
    align-self: end;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center; }
    .header__text::before {
      content: '';
      display: inline;
      height: 1px;
      grid-column: 1 / 2;
      background-color: currentColor; }
    .header__text::after {
      content: '';
      display: inline-block;
      height: 1px;
      grid-column: 3 / 4;
      background-color: currentColor; }
  .header__companies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    align-self: start;
    justify-items: center; }
    .header__companies img {
      height: 2.5rem;
      filter: brightness(0.7); }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-row-gap: 3rem; }
  .realtors__grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: min-content max-content;
    align-items: center;
    grid-row-gap: 5vh;
    grid-column-gap: 2rem; }

.realtor__heading {
  grid-column: 1 / -1; }

.realtor__info {
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.realtor__image {
  width: 8rem;
  border-radius: 50%;
  display: block;
  justify-self: center; }

.realtor__name {
  justify-self: start;
  font-size: 1.6em;
  color: #f9f7f6;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif; }

.realtor__score {
  color: #aaa;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 400; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 1.5rem;
  align-items: start; }
  .feature__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: #c69963;
    grid-row: 1 / span 2; }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4;
  background-image: url("../img/back.jpg");
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }

.story__image--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4); }

.story__image--2 {
  width: 120%;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 10;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4); }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  grid-row-gap: 3.5rem; }
  .home__image {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1; }
  .home__icon {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 3rem;
    width: 3rem;
    fill: #c69963;
    justify-self: end;
    margin: 1rem;
    z-index: 2; }
  .home__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: #101d2c;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    padding: 1.25rem;
    width: 80%;
    justify-self: center;
    align-self: flex-end;
    transform: translateY(50%);
    z-index: 3; }
  .home__location, .home__rooms {
    margin-top: 2rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-self: start;
    margin-left: 4rem; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .home__location p, .home__rooms p, .home__area p, .home__price p {
      font-size: 1.2rem; }
  .home__button {
    grid-column: 1 / -1; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(7, 5vw);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3; }
  .gallery__item--10 {
    grid-row: 6 / span 2; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2; }
  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem;
  display: flex;
  flex-direction: column; }
  .footer__nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center; }
    .footer__nav__link:link, .footer__nav__link:visited {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all 0.2s; }
      .footer__nav__link:link:hover, .footer__nav__link:link:active, .footer__nav__link:visited:hover, .footer__nav__link:visited:active {
        background: rgba(255, 255, 255, 0.1);
        transform: translateY(-3px); }
  .footer__copyright {
    margin: 0 auto;
    margin-top: 6rem;
    color: #aaa;
    font-size: 1.4rem;
    text-align: center;
    width: 70%; }
