*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #54483a;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: repeat(6, minmax(200px, 1fr));
  grid-template-columns: repeat(3, minmax(200px, 1fr)); }

.sidebar {
  background: gold; }

.header {
  background: orange; }

.realtors {
  background: violet; }

.features {
  background: blue; }

.story__pictures {
  background: red; }

.story__content {
  background: yellowgreen; }

.homes {
  background: purple; }

.gallery {
  background: yellow; }

.footer {
  background: green; }
