*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #54483a;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.btn {
  padding: 1.8rem 3rem;
  background-color: #c69963;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #b28451; }

.mb-small {
  margin-bottom: 2rem; }

.mb-medium {
  margin-bottom: 3rem; }

.mb-large {
  margin-bottom: 4rem; }

.mb-huge {
  margin-bottom: 8rem; }

.cta {
  background: #c69963;
  border: none;
  outline: none;
  padding: 1.5rem 3rem;
  color: white;
  text-transform: uppercase; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  color: #c69963;
  font-size: 1.6rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: #101d2c;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 1.5rem;
  align-items: start; }
  .feature__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: #c69963;
    grid-row: 1 / span 2; }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4;
  background-image: url("../img/back.jpg");
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }

.story__image--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4); }

.story__image--2 {
  width: 120%;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 10;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4); }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  grid-row-gap: 3.5rem; }
  .home__image {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1; }
  .home__icon {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 3rem;
    width: 3rem;
    fill: #c69963;
    justify-self: end;
    margin: 1rem;
    z-index: 2; }
  .home__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: #101d2c;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    padding: 1.25rem;
    width: 80%;
    justify-self: center;
    align-self: flex-end;
    transform: translateY(50%);
    z-index: 3; }
  .home__location, .home__rooms {
    margin-top: 2rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-self: start;
    margin-left: 4rem; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .home__location p, .home__rooms p, .home__area p, .home__price p {
      font-size: 1.2rem; }
  .home__button {
    grid-column: 1 / -1; }

.gallery {
  background-color: #54483a;
  grid-column: full-start / full-end; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }
