.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
  display: flex;
  flex-direction: column;

  &__nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__item {
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: $font-display;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all 0.2s;

      &:hover,
      &:active {
        background: rgba(#fff, 0.1);
        transform: translateY(-3px);
      }
    }
  }

  &__copyright {
    margin: 0 auto;
    margin-top: 6rem;
    color: $color-grey-light-2;
    font-size: 1.4rem;
    text-align: center;
    width: 70%;
  }
}
