.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-row-gap: 3rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
    justify-content: stretch;
    align-content: stretch;
  }

  &__grid {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    grid-row-gap: 5vh;
    grid-column-gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }
}

.realtor {
  &__heading {
    grid-column: 1 / -1;
  }

  &__info {
    justify-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    width: 8rem;
    border-radius: 50%;
    display: block;
    justify-self: center;
  }

  &__name {
    justify-self: start;
    font-size: 1.6em;
    color: $color-grey-light-1;
    font-weight: 400;
    font-family: $font-display;
  }

  &__score {
    color: $color-grey-light-2;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 400;
  }
}
