.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  &__bar {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 2px;
    background: white;
    position: relative;
    top: 4rem;

    &::before {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background: white;
      position: absolute;
      top: -1rem;
    }

    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background: white;
      position: absolute;
      top: 1rem;
    }
  }
}
