.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;

    background-image: url('../img/back.jpg');
    background-size: cover;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      padding: 3rem;
    }
  }

  &__image {
    &--1 {
      width: 100%;
      grid-row: 2 / 6;
      grid-column: 2 / 6;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
      @media only screen and (max-width: $bp-medium) {
        grid-row: 1 / -1;
        grid-column: 2 / 4;
        width: 120%;
      }

      @media only screen and (max-width: $bp-small) {
        grid-row: 1 / -1;
        grid-column: 3 / 5;
        width: 100%;
      }
    }

    &--2 {
      width: 120%;
      grid-row: 4 / 6;
      grid-column: 4 / 7;
      z-index: 10;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        grid-column: 4 / 7;
        grid-row: 1 / -1;
        position: relative;
        bottom: 10rem;
        right: 10rem;
        box-shadow: 1rem -1rem 3rem rgba(0, 0, 0, 0.3);
      }

      @media only screen and (max-width: $bp-small) {
        grid-row: 1 / -1;
        grid-column: 5;
        width: 250%;
      }
    }
  }
  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: 5;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
